name: Publish

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  release:
    name: Archive and upload to server
    strategy:
      matrix:
        kind: ['linux']
        include:
          - kind: linux
            define: LINUX
            os: ubuntu-latest
            target: linux-x64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
      - name: Adding posts in archive
        uses: edgarrc/action-7z@v1
        with:
          super_secret: ${{ secrets.ARCHIVE_PASSWORD }}
          args: 7z a -t7z -mx=9 -xr!.git -xr!.github -p$super_secret build.7z ./
      - name: Upload to server
        uses: sozo-design/curl@v1.0.2
        with:
          upload_url: ${{ secrets.UPLOAD_URL }}
          args: -F "mdarchive=@build.7z" upload_url